# OS Metafiles
# --------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Thumbnails
# --------------------------------------------------------------------------------
._*

# Node
# --------------------------------------------------------------------------------
# package.json
node_modules

# Grunt
# --------------------------------------------------------------------------------
# Gruntfile.js

# Ruby
# --------------------------------------------------------------------------------
.bundle
vendor/bundle
# Gemfile
# Gemfile.lock
