div,p,span {
	line-height: 1.4em;
}

div.contents {
	margin: 0.5em;
}

div.logo-wrap {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.logo-wrap img {
	width: 100%;
}

p {
	text-indent: 1em;
	color: #444444;
	margin-bottom: 1em;
}

p.nomargin {
	text-indent: 1em;
	color: #444444;
	margin-bottom: 0;
}

p.noindent {
	text-indent: 0em;
}


h1 {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h2 {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
