
@font-face {
    font-family: 'Braille6';
    src: url('../font/Braille6.ttf') format('truetype') }
.braille{ font-family:'Braille6', monospace; }


/* PIANO */
#keybord {
    display:none;
	position:absolute;
	z-index: 10;
	left: 20px;
	top:50px;
}

#C3, #D3, #E3, #F3, #G3, #A3, #B3, #C4 {
	z-index: 20;
    display:inline-block;
	background-color: #eee;
	border:1px solid #999;
	width: 40px;
	font-size: 10px;
	text-align: center;
	line-height:2;
}

#loading {
	position:absolute;
	z-index:1000;
	width: 100%;
	height:100%;
	top:0;
	left:0;
	background-color: #666;    
	opacity: 0.5;
}


#touchStage{
	position:absolute;
	z-index: 100;
	top:0; left: 0;
	width: 100%;
	height: 100%;
	
	background-color: #FFF;
}

#func {
	position:absolute;
	z-index: 120;
	top:0; left: 0;
	width: 20%;
	height: 100%;
	text-align:center;
	vertical-align: center;
	
	background-color: #EEE;
	opacity: 0.5;

}

#cvStage{
	position:absolute;
	z-index: 200;
	top:0; left: 20%;
	width: 80%;
	height: 100%;
}

#brCanvas{
	position:absolute;
	z-index: 110;
}


#ioCanvas{
	position:absolute;
	z-index: 220;
	top:0; left:0;
    width:100%;
    height:100%;
	background-color: #FFF;
	opacity: 0.5;
}

#result {
	margin: 10px;
    font-size: 200%;
	word-break: break-all ;
	z-index: 210;
	padding: 0 10px;
	line-height:1.4;
	border: 1px solid #CCC;
}

#text {
	margin: 10px;
	word-break: break-all ;
	z-index: 210;
	padding: 10px;
	line-height:1.4;
	border: 1px solid #CCC;
}


#copyright{
    z-index: 1000;
	position:absolute;
	width:80%;
	color: #666;
    bottom: 0;
    right: 0;
    padding:0.5em;
    font-size: 80%;
    text-align: right;
}